.event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin-top: 20px;
    padding: 20px;
    background-image: url(../Assets/backgroundImage.jpg);
        background-position: center;
        background-size: cover; /* Ensure the background image covers the entire area */
}

.event-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    margin-top:10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.event-card:hover {
    transform: translateY(-15px);
}

.event-image-container {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
}

.eventImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-details {
    padding: 15px;
}

.event-details h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    color: #333;
}

.event-details p {
    font-size: 1rem;
    color: #666;
}